 /*html,body {
    background: url(assets/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/



h1 {
    font-family: "Rubik Scribble";
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 16em
	font-size: 40px;
    color: black;
    text-shadow: 0 0 4px black;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-1px, -1px);
  color: white;
}

/* Путь, если на сервере будет, надо поменять будет*/ 

body {
  background-image: url(https://i.imgur.com/7xgWNSh.png);
  background-repeat: no-repeat;
  background-size: cover;
}

input{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    font-size: 30px;
    background-image: url(https://i.imgur.com/7xgWNSh.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.character-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 15cm;
    margin-right: 15cm;


}

.character-info p {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    width: 8em;
    height: 5em;
}

.character-info p.red {
    background-color: #ff8080; /* красный цвет для несовпадающих параметров */
}

.character-info p.green {
    background-color: #80ff80; /* зеленый цвет для полного совпадения параметров */
}

.character-info p.yellow {
    background-color: #ffff80; /* желтый цвет для частичного совпадения параметров */
}

/* Скрыть треугольник выпадающего списка */
input::-webkit-calendar-picker-indicator {
    display: none;
}

/* Установить поле ввода в режим "только для чтения" */
input[readonly] {
    background-color: white;
    cursor: default;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: none;
    overflow: hidden;
    position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  object-fit: cover;
}